/* Vendor */
/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  line-height: 1.2;
  font-size: 14px;
  height: 100%;
  color: black;
}

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */
}

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}

.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}

@-moz-keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}

@-webkit-keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}

@keyframes blink {
  0% {
    background: #7e7;
  }
  50% {
    background: none;
  }
  100% {
    background: #7e7;
  }
}

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header, .cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3 {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta {
  color: #555;
}

.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  height: 100%;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-measure pre {
  position: static;
}

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror ::selection {
  background: #d7d4f0;
}

.CodeMirror ::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span {
  *vertical-align: text-bottom;
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

.cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header, .cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-header {
  color: #00f;
  font-weight: bold;
}

.cm-atom {
  color: #219;
}

.cm-attribute {
  color: #00c;
}

.cm-bracket {
  color: #997;
}

.cm-comment {
  color: #333333;
}

.cm-def {
  color: #00f;
}

.cm-em {
  font-style: italic;
}

.cm-error {
  color: #f00;
}

.cm-hr {
  color: #999;
}

.cm-invalidchar {
  color: #f00;
}

.cm-keyword {
  font-weight: bold;
}

.cm-link {
  color: #00c;
  text-decoration: underline;
}

.cm-meta {
  color: #555;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-qualifier {
  color: #555;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-string {
  color: #006400;
}

.cm-string-2 {
  color: #f50;
}

.cm-strong {
  font-weight: bold;
}

.cm-tag {
  color: #170;
}

.cm-variable {
  color: #8B2252;
}

.cm-variable-2 {
  color: #05a;
}

.cm-variable-3 {
  color: #085;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

/* ASN */
.cm-s-ttcn .cm-accessTypes,
.cm-s-ttcn .cm-compareTypes {
  color: #27408B;
}

.cm-s-ttcn .cm-cmipVerbs {
  color: #8B2252;
}

.cm-s-ttcn .cm-modifier {
  color: #D2691E;
}

.cm-s-ttcn .cm-status {
  color: #8B4545;
}

.cm-s-ttcn .cm-storage {
  color: #A020F0;
}

.cm-s-ttcn .cm-tags {
  color: #006400;
}

/* CFG */
.cm-s-ttcn .cm-externalCommands {
  color: #8B4545;
  font-weight: bold;
}

.cm-s-ttcn .cm-fileNCtrlMaskOptions,
.cm-s-ttcn .cm-sectionTitle {
  color: #2E8B57;
  font-weight: bold;
}

/* TTCN */
.cm-s-ttcn .cm-booleanConsts,
.cm-s-ttcn .cm-otherConsts,
.cm-s-ttcn .cm-verdictConsts {
  color: #006400;
}

.cm-s-ttcn .cm-configOps,
.cm-s-ttcn .cm-functionOps,
.cm-s-ttcn .cm-portOps,
.cm-s-ttcn .cm-sutOps,
.cm-s-ttcn .cm-timerOps,
.cm-s-ttcn .cm-verdictOps {
  color: #0000FF;
}

.cm-s-ttcn .cm-preprocessor,
.cm-s-ttcn .cm-templateMatch,
.cm-s-ttcn .cm-ttcn3Macros {
  color: #27408B;
}

.cm-s-ttcn .cm-types {
  color: #A52A2A;
  font-weight: bold;
}

.cm-s-ttcn .cm-visibilityModifiers {
  font-weight: bold;
}

/* Variables */
/* Global & Pages */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "OpenSans";
  font-weight: 300;
  margin: 0;
}

#header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

#header div.toggle {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-transition: margin-left 0.2s;
  -moz-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}

#header #nav > ul {
  margin-left: -100%;
  -webkit-transition: margin-left 0.2s;
  -moz-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}

#header.active #nav > ul {
  margin-left: 0;
}

#header.active div.toggle {
  margin-left: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

blockquote {
  font-family: "Lora";
}

button {
  background: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: 0px;
}

.child {
  color: white;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 10px;
}

.blue {
  background-color: #0085c3;
}

.orange {
  background-color: #fd4e06;
}

.green {
  background-color: #51c96d;
}

.red {
  background-color: #ac2c24;
}

a {
  color: black;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

a:hover {
  color: rgba(0, 133, 195, 0.5);
}

.underline {
  border-bottom: 2px solid #efefef;
  text-transform: uppercase;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.loader.loading {
  z-index: 1;
}

.loader span {
  background: rgba(0, 133, 195, 0.5);
  position: absolute;
  display: block;
}

.loader span.top, .loader span.bottom {
  width: 0;
  height: 0px;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.loader span.top.active, .loader span.bottom.active {
  height: 4px;
  width: 100%;
}

.loader span.left, .loader span.right {
  height: 0;
  width: 0px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
}

.loader span.left.active, .loader span.right.active {
  width: 4px;
  height: 100%;
}

.loader span.top {
  top: 0px;
  left: 0px;
}

.loader span.top.active {
  -webkit-transition: width 250ms, height 0ms;
  -moz-transition: width 250ms, height 0ms;
  transition: width 250ms, height 0ms;
}

.loader span.bottom {
  bottom: 0px;
  right: 0px;
}

.loader span.bottom.active {
  -webkit-transition: width 250ms 500ms, height 0ms;
  -moz-transition: width 250ms 500ms, height 0ms;
  transition: width 250ms 500ms, height 0ms;
}

.loader span.right {
  top: 0px;
  right: 0px;
}

.loader span.right.active {
  -webkit-transition: height 250ms 250ms, width 0ms;
  -moz-transition: height 250ms 250ms, width 0ms;
  transition: height 250ms 250ms, width 0ms;
}

.loader span.left {
  bottom: 0px;
  left: 0px;
}

.loader span.left.active {
  -webkit-transition: height 250ms 750ms, width 0ms;
  -moz-transition: height 250ms 750ms, width 0ms;
  transition: height 250ms 750ms, width 0ms;
}

#content .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

#content .wrapper > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#content .wrapper h1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}

#content .wrapper > div.intro {
  font-size: 14px;
  max-width: 1100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

#content .wrapper > div.intro blockquote {
  margin: 10px 0;
  padding: 20px 30px;
  position: relative;
  font-style: italic;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
}

#content .wrapper > div.intro blockquote:before {
  top: 5px;
  left: 5px;
  font-size: 40px;
  color: #ccc;
  position: absolute;
  content: open-quote;
}

#content .wrapper > div.intro cite {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: -10px;
  font-style: normal;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}

#content .wrapper > div.final {
  text-align: center;
}

#content .wrapper > div.final img {
  max-height: 100px;
}

#content .wrapper > div.code {
  padding: 2px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

#content .wrapper > div.code > div, #content .wrapper > div.code iframe {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 250px;
}

#content .wrapper > div.code > div.css, #content .wrapper > div.code iframe.css {
  margin-top: -250px;
}

#content .wrapper > div.code iframe, #content .wrapper > div.code > div {
  border: 0px;
  border: 2px solid #efefef;
}

@media (min-width: 480px) {
  #content .wrapper > div.code {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
  #content .wrapper > div.code > div, #content .wrapper > div.code iframe {
    height: 500px;
    margin: 0px 5px;
  }
  #content .wrapper > div.code > div.css, #content .wrapper > div.code iframe.css {
    margin-top: 0;
    margin-left: calc(-50% + 5px);
  }
}

.toggle {
  padding-left: 7px;
  top: 2px !important;
}

.toggle button {
  padding: 5px;
  min-width: 60px;
  font-weight: bold;
}

.toggle button.active {
  background-color: #efefef;
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari only override */
  ::i-block-chrome, .toggle {
    padding-left: 5px;
    top: 4px !important;
  }
}

_::-webkit-full-page-media, _:future, :root .safari_only {
  padding-left: 5px;
  top: 4px !important;
}

.code .html, .code .css {
  visibility: hidden;
}

.code .html.active, .code .css.active {
  visibility: visible;
}

.wrapper.lesson > * {
  -webkit-transition: top 0.2s, opacity 0.2s;
  -moz-transition: top 0.2s, opacity 0.2s;
  transition: top 0.2s, opacity 0.2s;
  position: relative;
  opacity: 0;
  top: -20px;
}

.wrapper.lesson > *:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.wrapper.lesson > *:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.wrapper.lesson > *:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.wrapper.lesson > *:nth-child(1) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.wrapper.lesson > *:nth-child(0) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

#content.active .wrapper.lesson > * {
  opacity: 1;
  top: 0;
}

#content.active .wrapper.lesson > *:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#content.active .wrapper.lesson > *:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#content.active .wrapper.lesson > *:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#content.active .wrapper.lesson > *:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

#content.active .wrapper.lesson > *:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.wrapper.home {
  margin-top: 100px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

.wrapper.home > * {
  -webkit-transition: top 0.2s, opacity 0.2s;
  -moz-transition: top 0.2s, opacity 0.2s;
  transition: top 0.2s, opacity 0.2s;
  position: relative;
  opacity: 0;
  top: -20px;
}

.wrapper.home > *:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.wrapper.home > *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.wrapper.home > *:nth-child(0) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#content.active .muscles, #content.active h1, #content.active a {
  top: 0px;
  opacity: 1;
}

#content.active .wrapper.home > *:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#content.active .wrapper.home > *:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#content.active .wrapper.home > *:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
