/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $sans;
	font-weight: 300;
	margin: 0;
}

.wrapper {
	max-width: $wrapper;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

blockquote {
	font-family: $serif;
}

button {
	background: white;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border: 0px;
}

.child {
	color: white;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 10px;
}

.blue {
	background-color: $blue;	
}
.orange {
	background-color: $orange;
}
.green {
	background-color: $green;
}
.red {
	background-color: $red;
}

a {
	color: black;
	@include transition(color $slow);
	&:hover {
		color: $cloud-blue;
	}
}

.underline {
	border-bottom: 2px solid $light-grey;
	text-transform: uppercase;
}

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	left: 0;
	top: 0;
	&.loading {
		z-index: 1;
	}
	span {
		background: $cloud-blue;
		position: absolute;
		display: block;
	}
	span.top, span.bottom {
		width: 0;
		height: 0px;
		@include transition(height $slow);
		&.active {
			height: 4px;
			width: 100%;
		}
	}
	span.left, span.right {
		height: 0;
		width: 0px;
		@include transition(width $slow);
		&.active {
			width: 4px;
			height: 100%;
		}
	}
	span.top {
		top: 0px;
		left: 0px;
		&.active {
			@include transition(width 250ms, height 0ms);
		}
	}
	span.bottom {
		bottom: 0px;
		right: 0px;
		&.active {
			@include transition(width 250ms 500ms, height 0ms);
		}
	}
	span.right {
		top: 0px;
		right: 0px;
		&.active {
			@include transition(height 250ms 250ms, width 0ms);
		}
	}
	span.left {
		bottom: 0px;
		left: 0px;
		&.active {
			@include transition(height 250ms 750ms, width 0ms);
		}
	}
}