/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $sans;
	font-weight: 300;
}

.wrapper {
	max-width: $wrapper;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

blockquote {
	font-family: $serif;
}

.child {
	color: white;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 10px;
}

.blue {
	background-color: $blue;	
}
.orange {
	background-color: $orange;
}
.green {
	background-color: $green;
}
.red {
	background-color: $red;
}

a {
	color: black;
	@include transition(color $slow);
	&:hover {
		color: $cloud-blue;
	}
}

ul, ol {
	margin-top: 0px;
}