.wrapper.home {
	display: flex;
	margin-top: 200px;
	align-items: center;
	flex-direction: column;
	> * {
		@include transition(top 0.2s, opacity 0.2s);
		position: relative;
		opacity: 0;
		top: -20px;
	}
}

#content.active {
	.muscles, h1, a {
		top: 0px;
		opacity: 1;
	}
	h1 {
		@include transition(top 0.2s 0.2s, opacity 0.2s 0.2s);
	}
	a {
		@include transition(top 0.2s 0.4s, opacity 0.2s 0.4s);
	}
}