.wrapper.home {
	margin-top: 200px;
	@include display (flex);
	@include align-items(center);
	@include flex-direction(column);
	> * {
		@include transition(top 0.2s, opacity 0.2s);
		@include reverse-delay(1,3,10);
		position: relative;
		opacity: 0;
		top: -20px;
	}
}

#content.active {
	.muscles, h1, a {
		top: 0px;
		opacity: 1;
	}
	.wrapper.home {
		> * {
			@include delay(1,3,10);
		}
	}
}