// size
$mobile: 480px;
$tablet: 1024px;
$wrapper: 1300px;

// font
$sans: 'OpenSans';
$serif: 'Lora';

// color
$orange: rgba(253, 78, 6, 1);
$green: rgba(81, 201, 109, 1);
$blue: rgba(0,133,195,1);
$red: rgba(172, 44, 36, 1);

$cloud-blue: rgba(0,133,195,0.5);