// size
$mobile: 480px;
$tablet: 1024px;
$wrapper: 1200px;

// font
$sans: 'OpenSans';
$serif: 'Lora';

// color
$orange: rgba(253, 78, 6, 1);
$green: rgba(81, 201, 109, 1);
$blue: rgba(0,133,195,1);
$red: rgba(172, 44, 36, 1);
$off-white: #f9f9f9;
$med-grey: #ccc;
$cloud-blue: rgba(0,133,195,0.5);

// speeds
$slow: 0.4s;
$fast: 0.2s;