<div class="intro">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque risus tellus, sit amet bibendum lorem dictum non. Sed at erat malesuada, aliquam leo a, posuere elit. Mauris congue ipsum nec libero varius, a tempor tortor semper. Proin elementum mollis luctus. Cras porta faucibus rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sollicitudin metus dolor, id dapibus odio placerat a. Sed tellus velit, lacinia at lobortis at, volutpat at ligula. Praesent in nisl varius, elementum lectus nec, iaculis diam. Aliquam erat volutpat. Cras euismod odio ac fringilla ultrices. Sed vel ultrices dui, eu hendrerit sapien. Praesent vehicula lobortis neque et cursus. Cras posuere dolor at nunc consectetur vestibulum.
</div>

<div class="final">
	<img src="https://placeholdit.imgix.net/~text?txtsize=88&txt=1200%C3%97350&w=1200&h=350" alt="">
</div>

<div class="toggle">
	<button id="html-toggle">HTML</button>
	<button id="css-toggle">CSS</button>
</div>

<div class="code">

	<div class="html">
		<textarea id="html-code" name="code">
<style>

</style>
<!doctype html>
<html>
  <body>
  	<div class="parent">
    	<div class="child"></div>
    	<div class="child"></div>
    	<div class="child"></div>
    	<div class="child"></div>
  	</div>
  </body>
</html>
		</textarea>
	</div>

	<div class="css active">
		<textarea id="css-code" name="code">
.parent {
	display: flex;
}
.child {
	flex: 1;
}</textarea>
	</div>

	<iframe id="preview" class="output">
		
	</iframe>
</div>