<div class="wrapper lesson">
	<h1 class="underline">Lesson #5: align-items</h1>

	<div class="intro">
		<p>
			Another parent property, <code>align-items</code> defines how the parent's children will be aligned relative to the cross-axis of the flexbox. <code>align-items</code> can be set to a few attributes we've already seen like <b>flex-start | flex-end</b> and a few new ones <b>center | stretch | baseline</b>.
		</p>

		<blockquote>

		</blockquote>
		<cite><a target="_blank" href=""></a></cite>

		<div class="tldr">
			<span class="underline">tl;dr</span>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>

		<div class="instructions">
			<span class="underline">instructions</span>
			<p></p>
			<pre>
<code>
<!-- CODE INSTRUCTIONS -->
</code>
			</ol>
		</div>
		<!-- 
		NOTE IF NECESSARY
		<p class="note"></p>
		 -->
	</div>

	<div class="toggle">
		<button id="html-toggle">HTML</button>
		<button id="css-toggle">CSS</button>
	</div>

	<div class="code">

		<div class="html">
			<textarea id="html-code" name="code">
<style>
.parent {
  display: flex;
  height: 300px;
  border-bottom: 1px solid black;
}
.child {
	flex: 1;
  margin-bottom: 10px;
}
.child:first-child {
	height: 50px;
	line-height: 50px;
}
</style>
<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="../css/style.css">
	</head>
  <body>
  	<div class="parent">
    	<div class="child blue">Lorem ipsum dolor sit amet.</div>
    	<div class="child orange">2</div>
    	<div class="child red">Lorem ipsum dolor sit amet.</div>
    	<div class="child green">4</div>
  	</div>
  </body>
</html>
</textarea>
		</div>

		<div class="css">
<textarea id="css-code" name="code">
.parent {
  display: flex;
  height: 300px;
  border-bottom: 1px solid black;
}
.child {
	flex: 1;
  margin-bottom: 10px;
}
.child:first-child {
	height: 50px;
	line-height: 50px;
}
</textarea>
		</div>

		<iframe id="preview" class="output">
			
		</iframe>
	</div>
</div>