<div class="wrapper lesson">
	<h1 class="underline">Lesson #6: order</h1>

	<div class="intro">
		<p>
			Finally! Our first child property. <code>order</code> takes an integer, and it is a very powerful and intuitive way to change the order of the child elements. By default, elements will be laid out in the order they are in the DOM, but we can easily change this with the <code>order</code> property. Think of <code>order</code> as grouping the elements, since multiple children can have the same <code>order</code> attribute.
		</p>

		<div class="tldr">
			<span class="underline">tl;dr</span>
			<ul>
				<li>child property</li>
				<li>multiple children can have the same order</li>
				<li></li>
			</ul>
		</div>

		<div class="instructions">
			<span class="underline">instructions</span>
			<p></p>
			<pre>
<code>
<!-- CODE INSTRUCTIONS -->
</code>
			</ol>
		</div>
		<!-- 
		NOTE IF NECESSARY
		<p class="note"></p>
		 -->
	</div>

	<div class="toggle">
		<button id="html-toggle">HTML</button>
		<button id="css-toggle">CSS</button>
	</div>

	<div class="code">

		<div class="html">
			<textarea id="html-code" name="code">
<style>
/* HTML CSS */
</style>
<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="../css/style.css">
	</head>
  <body>
  	<div class="parent">
    	<div class="child blue">1</div>
    	<div class="child orange">2</div>
    	<div class="child red">3</div>
    	<div class="child green">4</div>
    	<div class="child blue">5</div>
    	<div class="child orange">6</div>
    	<div class="child red">7</div>
    	<div class="child green">8</div>
  	</div>
  </body>
</html>
</textarea>
		</div>

		<div class="css">
<textarea id="css-code" name="code">
<!-- CSS CODE (mirrors html code) -->
</textarea>
		</div>

		<iframe id="preview" class="output">
			
		</iframe>
	</div>
</div>